version: '3.8'

services:
  web:
    image: 113817973548.dkr.ecr.eu-north-1.amazonaws.com/flask-mysql:latest
    ports:
      - "5002:5000"
    depends_on:
      - mydb

  mydb:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: my-secret-pw
